.container{
    background-color:floralwhite;
    min-height: 100vh;
    border:10px solid black;
}
.content{
    max-width: 900px;
    margin: 0 auto;

}
.top_section{
    margin: 50px;
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
}
.top_section{
    font: size 50px;
    font-weight:bold ;
    color:black;
    text-transform: uppercase;
}
.top_section{
    text-align: end;
}
.about_section p {
    
    text-align: justify;

}
.img_container,
img{
    width: 300px;
    height: 320px;
    overflow: 100%;
    border-radius:100px;
    border: 3px solid black;
}
footer{
    margin : 50px 0;
}
footer{
    text-align: end;
}
h1{
    font-size: 50px;
}
